*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,black,red);
}
.slider-container{
    position: absolute;
    width:400px;
    height: 200px;
    perspective: 1000px;
}
.slider{
    position: absolute;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.slide img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.slide:nth-child(1) {transform: rotateY(0deg) translateZ(400px);}
.slide:nth-child(2) { transform: rotateY(90deg) translateZ(400px);}
.slide:nth-child(3) { transform: rotateY(180deg)translateZ(400px);}
.slide:nth-child(4) { transform: rotateY(270deg) translateZ(400px);}

@keyframes rotate{
    from
    {transform: rotateY(0deg);}
    to 
    {transform: rotateY(360deg);}
}
.slider-container:hover .slider{
    animation-play-state: paused;

}